.footer_login{
    background:#bebbba;
    height:90px;
    border-top: 2px solid white; 
    bottom:0px;
    position:fixed;
    width:100%;
}

.bg_login{
    background-image:url(../images/loginBackroundImage.jpg);
   background-size: 100% 100%;
    background-repeat: no-repeat;
    margin:0;
    height:100%;
    width:100%
 }

 html,body{
     margin:0;
    height:100%;
    width:100%
     
 }